<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Order Summary</h1>

    <% for (let i=0; i < orders.length; i++) { %>
        <p><%= orders[i].fname %> <%= orders[i].lname %></p>
        <hr>
    <% } %>

</body>
</html>